@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0; 
    font-family: 'Inter', sans-serif;
}



Section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main{

    background-image: url(bgMAIN.png);
    
}


#about{
            
    background-image: url(bgABOUT.png);
        
}
        
#skills{
        
    background-image: url(bgSKILLS.png);
        
}
        
#works{
        
    background-image: url(bgWORKS.png);
        
}
        
#comments{
        
    background-image: url(bgCOMMENTS.png);
        
}

.main-block, .about-bloc, .skills-block, 
.works-block, .comments-block{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 70vh;
}

    .main-block{
    flex-direction: column;
    
    height: 100vh;
    }

.main-conten{

    background-image: url(form1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 900px;
    height: 250px;
    padding-left: 30px;
    margin-left: 140px;
}
    
.main-title{

    padding-top: 67px;
    color: #2B2D35;
    font-size: 80px;
    
}
    
.main-subtitle{

    color: #2B2D35;
    font-size: 20px;
    font-family: 'Comfortaa';
    
}

.button{

    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
    
}

.button a {
    
    font-size: 20px;
    text-decoration: none;
    
}

.button{

    transition-duration: 0.3s;
    
 }
        
.button:hover{
        
    background: #a0d826;
        
}



@keyframes planet-move {
    from {transform: translateY(0px);}
    to {transform: translateY(70px);}
    }


            
.moving-planet{
    background: url(moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate (-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name:planet-move ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes cloud-move {
    frome {transform: translatex(0px);}
    to {transform: translatex(70px);}
}


.cloud{
    background: url(cloud.png);
    background-repeat: no-repeat;
    width: 2000px;
    height: 408px;
    transform: rotate (-15deg);
    position: absolute;
    bottom: 300px;
    left: 30px;
    animation-name:cloud-move ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}





.title{
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
 }





.about-content{
    width: 45%;
    height: 350px;
    background-color:#792AFF ;
    padding-left: 80px;
    padding-top: 40px;
    position: relative;
    display: flex;
    margin-left: 25%;
    margin-top: 4%;
}


.about-title {
    color: #FFF; 
    font-size: 20px;
    font-weight: 700px;
    max-width: 463px;
    margin-top: 20px;
    font-family: 'Comfortaa';
}


.about-card{
    background-image: url(form2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.about-card p{
    color: #000;
    font-size: 17px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Comfortaa';
}

.about-card img{
    padding-bottom: 20px;
}



.skills-card{
    background-image: url(form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}


.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}


.moving-planet2{
    background: url(moving-planet2.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    left: 0;
    animation-name:planet-move ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.works-block img{
    margin: 0 20px;
    width: 27%;
    box-shadow: 
      7px 7px 0 #000000;
}

.comments-block{
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
}

.comment-card{
    background-image: url(card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.comment-card h3{
    font-size: 18p;
    font-family: 'Comfortaa';
    padding: 10px;
}

.comment-card p{
    font-family: 'Comfortaa';
    font-size: 14px;
    padding:10px 20px;
    text-align: center;
}

.comment{
    background-image:url(comment.png) ;
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: left;
    width: 327px;
    height: 961px;
    margin: auto;
}

.comment p{
    font-family: 'Comfortaa';
    font-size: 20px;
    max-width: 250px;
}