@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0; 
    font-family: 'Inter', sans-serif;
}



Section{
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

#main{
    background-color: #200153;
}
